bin/
obj/
iloire Facturacion/*.dll
iloire Facturacion Tests/*.dll
*.pdb
*.suo
iloire Facturacion/App_Error/*
*.sdf
Backup/
Packages/
iloire Facturacion/_bin_deployableAssemblies/
.vs/
.git/
/*.user
/UpgradeLog.htm
